<div ng-show="deleteError != null">
    <span class="error">{{ deleteError }}</span>
</div>
<table class="table table-striped table-hover table-users">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Measure</th>
            <th>Unit of Measure</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.measure }}</td>
            <td>{{ item.unitOfMeasure }}</td>
            <td><a href="#/items/edit/{{ item.id }}" class="btn mini blue-stripe">Edit</a></td>
            <td><a href="javascript:void(0)" class="btn mini red-stripe" ng-click="delete(item.id);" sb-confirm="You really want to delete this item?">Delete</a></td>
        </tr>
    </tbody>
</table>